sourcecode/src/Workflows/FormatContactNames-61581252-C641-EE11-BE6D-002248595BBA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sa_sharedcommondataserviceforapps_df72c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "434999e5-f1b1-477e-80f9-aa7d6958f5de"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4352d3de-d6eb-4aa6-b51e-b38fb3776623"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e062bd22-f33f-4c6a-9fcb-73436edfbc9f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@items('Apply_to_each')?['contactid']",
                  "item/firstname": "@   concat(first(toupper(items('Apply_to_each')?['firstname'])),substring(items('Apply_to_each')?['firstname'],1,sub(length(items('Apply_to_each')?['firstname']),1)))\r\n",
                  "item/lastname": "@   concat(first(toupper(items('Apply_to_each')?['lastname'])),substring(items('Apply_to_each')?['lastname'],1,sub(length(items('Apply_to_each')?['lastname']),1)))\r\n"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06321c73-c6e1-418b-984b-359be6eb6351"
          },
          "type": "Foreach"
        },
        "Compose": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3f8f4bb5-16b4-40d9-934c-91c41c431218"
          },
          "type": "Compose",
          "inputs": "success"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}